<nav class="flex justify-between gap-2 p-4 w-full bg-gray-950 text-white items-center text-lg">
    <a class="font-semibold flex items-center text-white" href="">
        <img src="https://wcp.dk/assets/webcontent-B3eGu9V2.png" class="max-h-16 -mr-4" /> Administration
    </a>
    

    <div class="flex items-center gap-4 text-white">
        <AuthorizeView Roles="Admin,User">
            <Authorized>
                <NavLink class="flex items-center text-white" href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                </NavLink>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <NavLink class="flex items-center text-white" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </Authorized>
        </AuthorizeView> 
        
        <AuthorizeView Roles="Admin">
            <Authorized>
                <NavLink class="flex items-center text-white" href="/projects">
                    Projekter
                </NavLink>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <NotAuthorized>
                <NavLink class="text-white" href="/login">
                    Login
                </NavLink>
            </NotAuthorized>
            <Authorized>
                <NavLink class="text-white" href="/logout">
                    Logout
                </NavLink>
            </Authorized>
        </AuthorizeView>
    </div>
</nav>