<div class="d-flex bg-dark ps-3 py-3 navbar navbar-dark align-items-center">
    <a class="navbar-brand" href=""><img src="https://wcp.dk/assets/webcontent-B3eGu9V2.png" width="256" /></a>
    <nav class="d-flex align-items-center">
        
        <div class="px-3">
            <NavLink class="nav-link d-flex align-items-center text-white text-decoration-none" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu text-white" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="px-3">
            <NavLink class="nav-link d-flex align-items-center text-white text-decoration-none" href="weather">
                <span class="bi bi-list-nested-nav-menu text-white" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="px-3">
            <a class="nav-link" href="https://webcontent.dk" target="_blank"><img src="https://webcontent.dk/wp-content/uploads/2024/01/cropped-logo-hjemmeside-1-32x32.png" height="32" width="32"/></a>
        </div>
    </nav>
</div>
