@page "/login"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.EntityFrameworkCore
@using WCPFrontEnd.Services
@using WCPShared.Models.Entities
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using WCPShared.Interfaces
@using WCPShared.Models.Entities.AuthModels
@using WCPShared.Models.Entities.UserModels
@using WCPShared.Models.Enums
@using WCPShared.Services
@inject NavigationManager NavigationManager
@inject IWcpDbContext Context
@inject StripeService StripeService
@inject ApplicationState ApplicationState

<MudGrid Class="absolute top-0 left-0 min-h-[100vh] overflow-hidden" Spacing="0">
    <MudItem xs="6">
        <MudStack Spacing="4" Justify="Justify.Center" AlignItems="AlignItems.Center" Class="h-full">
            <MudImage Src="https://wc-files.se-sto-1.linodeobjects.com/media/wc-logo.png" Height="28" Class="max-h-[48px] my-4" Alt="WebContent logo" />

            <div class="text-center">
                <h1 class="text-[2.5em] font-medium">Velkommen tilbage</h1>
                <h1 class="text-[16px] text-neutral-400">Vi har savnet dig!</h1>
            </div>
            
            <EditForm Model="@Model" OnValidSubmit="Authenticate" FormName="LoginForm" class="grid gap-4 w-full max-w-[360px] flex flex-column gap-2">
                <DataAnnotationsValidator />
                <div class="grid w-full">
                    <span>Email</span>
                    <InputText type="email" @bind-Value="Model.Email" class="p-2 rounded-lg w-full border border-border" />
                    <ValidationMessage For="() => Model.Email" class="text-red-600" />
                </div>
                <div class="grid w-full">
                    <div class="flex justify-between">
                        <span>Kodeord</span>
                        <a href="/forgot-password" class="text-primary-500 cursor-pointer hover:underline">Glemt kodeord?</a>
                    </div>
                    
                    <InputText type="password" @bind-Value="Model.Password" class="p-2 rounded-lg w-full border border-border" />
                    <ValidationMessage For="() => Model.Password" class="text-red-600" />
                </div>

                @if (errorMessage is not null)
                {
                    <span class="text-red-600 mt-2">@errorMessage</span>
                }

                <button type="submit" class="rounded-lg p-2 bg-primary-500 text-white hover:bg-primary-600 duration-200 w-full">Login</button>
            </EditForm>
            @* <span>Har du ikke en bruger? Registrer dig her</span> *@
        </MudStack>
        
    </MudItem>
    <MudItem xs="6" Class="bg-primary-600 overflow-hidden">
        <WCPFrontEnd.Components.Shared.DashboardAdvert />
    </MudItem>
</MudGrid>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    [SupplyParameterFromForm]
    public UserDto Model { get; set; } = new();
    private string? errorMessage;

    private MudForm _form;
    private bool _success;
    private string[] _errors = { };

    private async Task Authenticate()
    {
        User? user = await Context.Users
            .Include(x => x.Organization)
            .SingleOrDefaultAsync(x => x.Email == Model.Email);

        if (user is null || !BCrypt.Net.BCrypt.Verify(Model.Password, user.PasswordHash)) 
        {
            errorMessage = "Invalid email or password";
            return;
        }

        if (!user.IsActive)
        {
            errorMessage = "User deactivated";
            return;
        }

        List<Claim> claims = new List<Claim>()
        {
            new Claim("Id", user.Id.ToString()),
            new Claim(ClaimTypes.Email, user.Email),
            new Claim(ClaimTypes.Name, user.Name),
            new Claim(ClaimTypes.Role, user.Role.ToString()),
        };

        if (user.Role == UserRole.Bruger && (user.Organization is null || !user.Organization.IsActive || string.IsNullOrEmpty(user.Organization.StripeAccountId)))
            claims.Add(new Claim("IsNotSubscribed", string.Empty));
        else if (user.Role == UserRole.Bruger && (user.Organization is not null && user.Organization.IsActive && !string.IsNullOrEmpty(user.Organization.StripeAccountId)))
            claims.Add(new Claim("StripeAccountId", user.Organization.StripeAccountId));

        if (user.Role == UserRole.Creator) 
        {
            Creator? creator = await Context.Creators.SingleOrDefaultAsync(x => x.UserId == user.Id);
            if (creator is not null) 
            {
                if (!string.IsNullOrEmpty(creator.StripeAccountId)) 
                {
                    claims.Add(new Claim("StripeAccountId", creator.StripeAccountId));
                }

                claims.Add(new Claim("SubType", creator.SubType.ToString()));
                claims.Add(new Claim("CreatorId", creator.Id.ToString()));
            }
        }

        var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
        var principal = new ClaimsPrincipal(identity);
        ApplicationState.UnloadData();
        await HttpContext!.SignInAsync(principal);

        NavigationManager.NavigateTo("/");
    }
}