@using Stripe
@using WCPAdminFrontEnd.Services
@using WCPShared.Interfaces
@using WCPShared.Models.Entities.UserModels

<MudStack Justify="Justify.Center" Class="border-2 p-2 px-4 h-[40px] rounded-lg">
    <a href="/payout">Balance: <span class="font-semibold">@Balance.Currency.ToUpper() @(Balance.Amount / 100)</span> </a>
</MudStack>

@code {
    [Parameter]
    public BalanceAmount Balance { get; set;  }
}
